*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#circle{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition: transform(-50% -50%);
    z-index: 99999;
}
#background {
    width: 100%;
    height: 100%;
    background-color: black;
   
   
}
#background h1{
    color:white;
    font-size: 450px;
    font-family:monospace;
    font-weight: bolder;
}
#wrap{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image:url('https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80.jpg') ;
}
#whitestrap{
    position: absolute;
    background-color: white;
    width: 50%;
    height: 120px;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#blackcard{
    height: 230px;
    width: 200px;
    background-color:black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);   
}
#linelem .line{
    width: 200px;
    height: 2px;
    background-color: black;
}


